*.dbf
*.doc*
*.gddoc
*.gdsheet
*.gpkg
*.html
*.mdb
*.shp*
*.shx
*.xls*
*_files
.DS_Store
.RData
.Rdata
.Renviron
.Rhistory
.Rproj.user
.Ruserdata
.httr-oauth
data-raw/
docs
libs
output
renv/library
tests/testdata/
to-dos.md
